html {
    background-image: url("notes1.svg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-color: rgb(239, 239, 239);
}

body {
    background-color: rgba(239, 239, 239, 0.96);
    /* background-image: url("papper.jpg"); */
    /* background-attachment: fixed; */
    background-size: 100% auto;
    max-width: 1200px;
    /* max-width: 80%; */
    min-height: 100vh;
    margin: auto;
    color: black;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}

header {
    font-size: 64px;
    border-top: 6px black double;
    border-bottom: 6px black double;
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
    /* background-image: url("");
    background-size: 20% auto;
    background-attachment:scroll; */
}

h1 {
    display: flex;
    justify-content: center;
}
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
    transition: 300ms;
}

a {
    transition: 300ms;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: rgba(239, 239, 239, 1);
    height: 50px;
    border-bottom: 2px solid black;
    z-index: 10;
}

#nav-links {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

#nav-hamburger {
    display: none;
}
#nav-hamburger img {
    width: 100%;
    height: 100%;
}

#hamburger-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 4;
}

#burger-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#burger-links a div {
    margin: 10px;
}
#burger-links img {
    height: 32px;
    margin: 10px;
    transition: 200ms;

}
#burger-links img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 200ms;
}

/* Esittelyt */

iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

.jasen-vasen {
    display: flex;
    margin: 16px;
}

.jasen-oikea {
    display: flex;
    justify-content: right;
    margin: 16px;

}

#esittelyt img {
    width:400px;
}

#esittelyt h2 {
    display: flex;
    justify-content: center;
}

#esittelyt iframe{
    width: 100%;
    border: none;
}

/* Kuvat */

#kuva-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 220px 220px 220px 220px 220px;
}

.kuva-div {
    display: flex;
    justify-content: center;
    margin: 20px;
    transition: 200ms;
}
.kuva-div:hover {
    transition: 200ms;
    transform: scale(1.1);
    cursor: pointer;
}
.kuva {
    border-radius: 10px;
}

/* Galleria */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#image-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 4;
}

#next-image {
    position: fixed;
    display: none;
    justify-content: right;
    align-items: center;
    width: 10%;
    height: 80%;
    margin: auto;
    top: 0;
    right: 5px;
    bottom: 0;
    background-color: rgba(255,255,255, 0.0);
    z-index: 6;
    cursor: pointer;
    transition: 200ms;
    opacity: 0.2;
}
#next-image:hover {
    opacity: 0.8;
}

#previous-image {
    position: fixed;
    display: none;
    justify-content: right;
    align-items: center;
    width: 75px;
    height: 80%;
    margin: auto;
    top: 0;
    bottom:0;
    left: 5px;
    background-color: rgba(255,255,255, 0.0);
    z-index: 6;
    cursor: pointer;
    transition: 200ms;
    opacity: 0.2;
    transform: scaleX(-1);
}
#previous-image:hover {
    opacity: 0.8;
}

.arrow-img-container {
    width: 25px;
    height: 25px;
}
.arrow-img-container img {
    width: 100%;
    height: 100%;
}

#close-image-view {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75px;
    height: 75px;
    top: 0px;
    right: 10px;
    background-color: rgba(255,255,255,0);
    z-index: 8;
    cursor: pointer;
    transition: 200ms;
    opacity: 0.5;
}
#close-image-view:hover {
    opacity: 0.8;
}
.close-image-container {
    width: 25px;
    height: 25px;
}
.close-image-container img{
    width: 100%;
    height: 100%;
}

#big-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big-image {
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 1200px) {
    #kuva-grid {
        grid-template-columns: 220px 220px 220px 220px;
    }
}
@media only screen and (max-width: 900px) {
    #kuva-grid {
        grid-template-columns: 220px 220px 220px;
    }
    .jasen-oikea {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }
    #esittelyt iframe {
        height: 100%;
    }
    .jasen-vasen {
        flex-direction: column;
        justify-content: center;
    }
    .jasen-oikea img {
        max-width: 100%;
    }
    .jasen-vasen img {
        max-width: 100%;
    }
    .esittely-img-container {
        display: flex;
        justify-content: center;
    }
    
}
@media only screen and (max-width: 700px) {
    #kuva-grid {
        grid-template-columns: 220px 220px;
    }
}
@media only screen and (max-width: 550px) {
    #kuva-grid {
        display: block;
        padding: auto;
        margin: 0px;
    }
    .kuva {
        width: 300px;
    }
    #nav {
        display: flex;
        justify-content: center;
    }
    #nav-links {
        display: none;
    }
    #nav-hamburger {
        display: block;
        cursor: pointer;
        transition: 200ms;
        height: 37px;
    }
    #nav-hamburger:hover {
        transform: scale(1.1);
        transition: 200ms;
    }
}



